@font-face {
  font-family: 'ZhiMangXing';
  src: url('/ZhiMangXing-Regular-subset.ttf');
}

body {
  background: #111;
  color: #eee;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header h1 {
  font-family: 'ZhiMangXing', 'Roboto' !important;
}

@media screen and (max-width: 500px) {
  header {
    padding-bottom: 1em !important;
  }

  header h1 {
    font-size: 3.5em !important;
  }
}

a[href] {
  color: #26c6dd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
